/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

button,
input,
textarea {
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    color: #fff;
    overflow-x: hidden;
}

/* CONTAINER */
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 200px;
    padding-right: 200px;
    border: black 1px solid;
}

/* HEADER */
.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    padding-top: 28px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.logo {
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 48px;
}

.nav-list a {
    font-size: 15px;
    font-weight: 500;
    opacity: 0.9;
    transition: 0.3s ease;
}

.nav-list a:hover {
    opacity: 1;
    color: #ff4fd8;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 18px;
}

.icon-btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: 0.3s ease;
}

.icon-btn:hover {
    transform: scale(1.05);
}

/* BUTTONS */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 8px 30px;
    border-radius: 999px;

    font-family: "Outfit", sans-serif;
    font-size: 14px;
    font-weight: 600;

    transition: 0.3s ease;
}

.header-btn,
.btn-primary {
    background: #ff1da3;
}

.header-btn:hover,
.btn-primary:hover {
    background: #ca1fa5;
}

.btn-outline {
    border: 1px solid #fff;
}

.btn-outline:hover {
    background: rgba(255, 255, 255, 0.08);
}

/* BURGER */
.burger {
    display: none;
    width: 40px;
    height: 40px;

    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.burger span {
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 20px;
}

/* HERO */
.hero {
    min-height: 937px;
    overflow: hidden;
    background-image: url("./img/hero-bg-1x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 80px;
}

.hero-container {
    min-height: 937px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.hero-content {
    position: relative;
    z-index: 2;
    width: 36%;
    padding-top: 40px;
}

.hero-decor {
    position: absolute;
    top: -316px;
    left: -192px;
    z-index: -1;
    width: 1075px;
    height: 1075px;
    opacity: 0.7;
    pointer-events: none;
}

.hero-decor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero-title {
    margin-bottom: 28px;
    font-family: "Outfit", sans-serif;
    font-size: 75px;
    line-height: 1.05;
    font-weight: 800;
}

.hero-text {
    max-width: 580px;
    margin-bottom: 42px;
    font-size: 20px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.82);
}

.hero-buttons {
    display: flex;
    align-items: center;
    gap: 18px;
    flex-wrap: wrap;
}

.hero-image {
    position: absolute;
    right: 0;
    bottom: 0;

    z-index: 1;

    width: 58%;
    max-width: 950px;
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block;
}

/* STORYTELLING */

.storytelling {
    padding: 110px 0 70px;
    background: #ffffff;
    color: #11142d;
}

.storytelling-container {
    position: relative;
}

.section-title {
    margin-bottom: 62px;

    font-family: "Outfit", sans-serif;
    font-size: 42px;
    line-height: 1.2;
    font-weight: 800;
    color: #11142d;
}

.storytelling-content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 360px;
    align-items: stretch;
}

.storytelling-video {
    position: relative;
    z-index: 2;
    overflow: hidden;
    border-radius: 24px;
    box-shadow: 0 18px 45px rgba(31, 35, 64, 0.18);
}

.storytelling-video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: rgba(0, 0, 0, 05);
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;

    width: 128px;
    height: 128px;
    border-radius: 50%;

    background: linear-gradient(135deg, #b14cff, #2fc7ff);
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 20px 45px rgba(70, 115, 255, 0.45);
    cursor: pointer;
}

.play-btn span {
    width: 0;
    height: 0;

    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-left: 34px solid #ffffff;

    margin-left: 8px;
}

.storytelling-info {
    position: absolute;
    top: -111px;
    left: 990px;
    width: 646px;
    padding: 48px 0 48px 154px;
    background:
        linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)), url("/img/hero-bg-2x.png");


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.storytelling-decor {
    width: 210px;
    margin-left: auto;
    margin-bottom: 60px;
}

.storytelling-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    z-index: 5;
    font-family: "Outfit", sans-serif;
    font-size: 23px;
    line-height: 1;
    font-weight: 800;
}

.storytelling-list li {
    color: #11142d;
}

.storytelling-list .active {
    position: relative;
    color: #ff1da3;
}

.storytelling-list .active::before {
    content: "";
    display: inline-block;

    width: 0;
    height: 0;
    margin-right: 10px;

    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid #ff1da3;
}

.storytelling-list span {
    font-size: 12px;
    font-weight: 700;
    color: #11142d;
    opacity: 0.65;
}

.partners-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    margin-top: 90px;
}

.partners-logos img {
    max-height: 56px;
    width: auto;
    object-fit: contain;
}

/* 1440 */
@media (max-width: 1440px) {
    .container {
        padding-left: 120px;
        padding-right: 120px;
    }

    .hero-container {
        min-height: 860px;
    }

    .hero-title {
        font-size: 64px;
    }


    .hero-decor {

        top: -334px;
        left: -116px;
    }

    .hero-image {
        width: 60%;
    }
}

/* TABLET */
@media (max-width: 992px) {
    .container {
        padding-left: 60px;
        padding-right: 60px;
    }

    .nav,
    .icon-btn,
    .header-btn {
        display: none;
    }

    .burger {
        display: flex;
    }

    .hero {
        padding-top: 0;
    }

    .hero-container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .hero-content {
        width: 100%;
        padding-top: 120px;
    }

    .hero-text {
        margin-left: auto;
        margin-right: auto;
    }

    .hero-buttons {
        justify-content: center;
    }

    .hero-title {
        font-size: 56px;
    }


    .hero-decor {
        width: 100%;
        left: 40%;
        transform: translateX(-50%);
        top: -145px;
    }

    .hero-image {
        position: relative;

        width: 100%;
        max-width: 700px;

        margin: 40px auto 0;
    }



    .storytelling {
        padding: 80px 0 60px;
    }

    .storytelling-content {
        grid-template-columns: 1fr;
    }

    .storytelling-info {
        padding: 40px;
    }

    .storytelling-decor {
        margin-right: auto;
    }

    .partners-logos {
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 60px;
    }



}

/* MOBILE */
@media (max-width: 576px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header {
        padding-top: 20px;
    }

    .hero-title {
        font-size: 42px;
    }

    .hero-text {
        font-size: 16px;
        line-height: 1.6;
    }

    .hero-buttons {
        width: 100%;
        flex-direction: column;
    }

    .hero-buttons .btn {
        width: 100%;
    }

    .btn {
        padding: 14px 24px;
    }

    .hero-decor {
        width: 520px;
        height: 520px;
        top: -40px;
    }

    .storytelling {
        padding: 60px 0 45px;
    }

    .section-title {
        margin-bottom: 36px;
        font-size: 32px;
    }

    .play-btn {
        width: 86px;
        height: 86px;
    }

    .play-btn span {
        border-top-width: 16px;
        border-bottom-width: 16px;
        border-left-width: 24px;
    }

    .storytelling-info {
        padding: 28px 20px;
    }

    .storytelling-list {
        font-size: 18px;
        gap: 14px;
    }

    .partners-logos {
        gap: 30px;
    }

    .partners-logos img {
        max-height: 38px;
    }




}

/* SMALL MOBILE */
@media (max-width: 340px) {
    .hero-title {
        font-size: 34px;
    }

    .hero-text {
        font-size: 15px;
    }

    .logo {
        font-size: 16px;
    }
}